#container {
    width: 800px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}
.square {
    width: 100px;
    height: 100px;
}
.black {
    background-color: black;
}
.red {
    background-color: red;
}