.flex {
    display:flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
h1, h3 {
    text-align: center;
}
h3 {
    width: 200px
}