#hand {
    margin: 50px
}
.playingCard {
    position: relative;
    width: 150px;
}
#club {
    transform: rotate(-15deg);
}
#heart {
    left: -100px;
    bottom: 10px;
    transform: rotate(-5deg);
}
#spade {
    left: -180px;
    bottom: 10px;
    transform: rotate(5deg);
}
#diamond {
    left: -270px;
    transform: rotate(15deg);
}