body {
    background-color: yellow;
    margin: 0px
}
nav {
    width: 150px;
    height: 100vh;
    min-height: 450px;
    background-color: blue;
}
li {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    padding: 20px
}