.flexCalc {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    gap: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px
}
@media (min-width: 600px) {
    .flexCalc {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
#output {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px
}
.numberInput {
    text-align: center;
    min-width: 50px;
    flex: 1
}