.flex {
    display:flex;
    flex-wrap: wrap;
}
/* Note that we don't really need to set the width and height of the card class */
.card {
    width: 200px;
    height: 300px;
}
h1, h3 {
    text-align: center;
}
img {
    display: block;
    margin: auto
}
