.wrapper {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#players {
    display: flex;
    background-color: blue;
    color: white;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px
}
.player {
    display: flex;
    flex: 1;
    align-items: center;
}
input{
    flex: 1
}
label {
    text-align: center;
    padding: 10px
}
button {
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    margin: 5px;
}
button:hover {
    background-color: rgb(0, 49, 0);
}
#gameBoard {
    padding: 10px;
}
.category {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
@media (min-width: 650px) {
    #gameBoard {
        display: flex;
        gap: 10px
    }
    .category {
        margin-bottom: 0px
    }
}

.catHeading {
    color: white;
    background-color: blue;
    padding: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3
}
p {
    text-align: center;
    margin: 0px;
}
.answer {
    text-align: center;
    color: gold;
    background-color: blue;
    padding: 10px;
    flex: 1
}