#grid{
    display: grid;
    margin-top: 20px
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: 1px solid black;
}
.bomb {
    font-size: 36px;
    margin: 0px
}