#logo {
    width: 100%
}
section {
    width: 100%;
    position: relative
}
.discipline, #chatImage {
    width: 100%
}
.labelWrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0
}
.label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
#fixed {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: transparent;
    border: none;
    cursor: pointer
}
#chatNow {
    color: white;
    background-color: rgb(7, 120, 249);
    font-size: 18px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}