#hand {
    margin: 50px
}
.playingCard {
    /*set the type of positioning here*/
    width: 150px;
    
}
#club {
    transform: rotate(-15deg);
}
#heart {
    transform: rotate(-5deg);
}
#spade {
    transform: rotate(5deg);
}
#diamond {
    transform: rotate(15deg);
}