#gameBoard {
    width:fit-content;
    margin: auto;
    margin-top: 20px
}
#reset {
    margin-bottom: 20px
}
.mmRow {
    display: flex;
    flex-wrap: nowrap;
}
option {
    color: white
}
.red {
    background-color: red
}
.blue {
    background-color: blue
}
.yellow {
    background-color: yellow;
    color: black
}
.green {
    background-color: green
}
.orange {
    background-color: orange
}
.purple {
    background-color: purple
}