div {
    border-style:solid;
    border-color:red;
    border-width:4px;
    width: 400px;
    font-family: sans-serif;
    margin:auto
}
img {
    width: 100%
}
span {
    font-weight: bold;
    background-color: yellow;
}
p {
    margin-top: 0px;
    margin-bottom: 20px
}
